In [1]:
print("Hello World !")

Hello World !

In [0]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
from google.colab import files
import io
uploaded = files.upload()

Saving Reg-log_offre.csv to Reg-log_offre.csv

In [0]:
data = pd.read_csv(io.BytesIO(uploaded['Reg-log_offre.csv']))

In [5]:
data.head()

   Age  Gender  Offer
0   38  Female      0
1   32  Female      0
2   46    Male      1
3   34    Male      0
4   40    Male      0

In [0]:
data['Gender']=data['Gender'].replace({'Female':0, 'Male':1})

In [7]:
data

    Age  Gender  Offer
0    38       0      0
1    32       0      0
2    46       1      1
3    34       1      0
4    40       1      0
..  ...     ...    ...
95   31       1      0
96   49       1      1
97   36       1      0
98   32       0      0
99   34       0      0

[100 rows x 3 columns]

In [0]:
X = data.iloc[:,:-1]
y = data.iloc[:, -1]
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=42)

In [0]:
model = LogisticRegression()

In [10]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred = model.predict(X_test)

In [12]:
comp = pd.DataFrame(y_pred,y_test)
comp

       0
Offer
1      1
1      1
1      1
0      0
0      0
1      1
0      0
1      1
1      1
0      0
0      0
0      0
0      0
0      0
1      1
0      1
0      0
1      1
1      1
0      0

In [15]:
print("Accuracy :", accuracy_score(y_test,y_pred))

Accuracy : 0.95

In [18]:
print("confusion matrix : ")
print(confusion_matrix(y_test,y_pred))

confusion matrix
[[10  1]
 [ 0  9]]